/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght=300&family=Varela&display=swap');

/* Defining the grid for the navbar */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'logo . links';
  padding: 4vh 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  z-index: 50;
  width: 100vw;
}

/* Styling the text logo */
.text-logo {
  grid-area: logo;
  color: white;
  font-size: 35px;
  font-family: 'Varela', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
}

.text-logo a {
  color: white;
}

.links {
  grid-area: links;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.links > a {
  color: white;
  font-size: 2vmin;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 2vw;
}
