/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght=300&family=Varela&display=swap');

/* Defining the grid for the navbar */
.container {
  display: grid;
  grid-template-columns: 15% auto 30%;
  grid-template-rows: auto;
  grid-template-areas: 'logo . links';
  padding: 32px 0px;
}

/* Styling the text logo */
.text-logo {
  grid-area: logo;
  color: white;
  font-size: 35px;
  font-family: 'Varela', sans-serif;
  font-weight: bolder;
  float: left;
  text-decoration: none;
  height: 50px;
  padding: 15px 15px;
  margin-left: -15px;
}

/* Generating grid on the list of links to space them out nicely */
.links {
  grid-area: links;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto;
  grid-template-areas: 'link-home link-about link-team link-contact link-fb';
}

/* removing some auto-padding and margins that are inherent to lists... */
ul {
  padding-inline-start: 0;
  margin-block: 0;
}

/* Styling for the text on each link */
.links > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
