.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 40;
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
  margin-block: 0;
}
