.App {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: auto;
  grid-template-areas:
    '. . .'
    '. slider .';
  gap: 3px;
}

.top-layer {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: auto;
  grid-template-areas: '. menu .';
  width: 100%;
  position: fixed;
}

.top-layer > div {
  background-color: #000000cc;
}

.menu {
  grid-area: menu;
}

.slider {
  grid-area: slider;
}
