.top-layer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
}

.top-layer > div {
  background-color: #000000cc;
}

.slider {
  grid-area: slider;
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
  margin-block: 0;
}
