.slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 40;
}

.controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 96vw;
  height: 100vh;
  color: white;
  padding: 0 2vw;
  font-size: 6vmin;
}
